<div style="text-align: center">
<img src="https://raw.githubusercontent.com/xyizko/xo-mathz/refs/heads/main/gfx/x.jpeg">    
<img src="https://raw.githubusercontent.com/xyizko/xo-tagz/refs/heads/main/gfx/i.png">
</div>
<div style="background: black; color: #00ff00; padding: 2px; text-align: center;background-size: cover; padding: 10px; text-shadow: 00 0 20px #ec4899">
    <h1> Pandas Tutorial 2 </h1>
    
</div>

In [2]:
# Python BeautyPanty 

import logging
from rich import print as rprint  # For rprinting
from rich.pretty import pprint  # For pretty printing
from rich import inspect  # For inspect
from rich.console import Console  # For console.print
from rich.markdown import Markdown  # For markdow
from rich.panel import Panel  # For Panel()
from rich import box  # For Panel Boxes
from rich.prompt import Prompt  # For Prompting
from rich.style import Style  # For styles colors
from rich.text import Text  # For text Styles
from rich.logging import RichHandler
from rich.traceback import install
from rich.rule import Rule # Horizontal Line
import numpy as np
import random

console = Console()  # Standard code to access console
install(show_locals=True)

# Setting up rich logger with color
logging.basicConfig(
    level=logging.DEBUG,
    format="%(message)s",
    datefmt="[%X]",
    handlers=[RichHandler(rich_tracebacks=True, markup=True)],
)
log = logging.getLogger("rich")

# Horizontal Line 
def dividerz(title: str = "", color: str = ""):
    console.print(Rule(f"{title}", style=f"{color}"))

# boxa
def boxa(txt: str = "", title: str = "", subtitle: str = "", brd: str = ""):
    console.print(Panel.fit(f"{txt}",
                            title=f"{title}",
                            subtitle=f"{subtitle}", 
                            style="Italic", 
                            border_style=f"{brd}"))

# Pandas Specific 
import pandas as pd 
import numpy as np

# Matplotlib and setting dark mode
import matplotlib.pyplot as plt
# Setting Dark Mode
plt.style.use('dark_background')

# TOC
1. [What?](#What?)
2. [importing](#Importing)
3. [FilteringAndOrdering](#FilteringAndOrdering)

[ðŸ”™](#TOC)

# What?

> More pandas and numpy practice. These libraries are the core of ML and I Pipelines.
>

## Regarding Statistical Analaysis and Python Libs 

1. The most common used libs are

Lib | What
:--: | :--: 
[`NumPy`](https://numpy.org/) | For numerical operations, matrix calculations and some stats 
[`SciPy`](https://scipy.org/) | More advanced mathematical operations for scientific computing had advanced Statistical Analysis 
[`matplotlib`](https://matplotlib.org/) | For highly customized plots, 3d plots
[`Seaborn`](https://seaborn.pydata.org/) | Built on top of matplotlib , higher level aesthetically pleasing
[`plotly`](https://plotly.com/) | Interactive , not open source, avoid unless absolutely necessary. Has AI assisted plotting

[ðŸ”™](#TOC)

# Importing

In [23]:
# Import Airlines_dataset
URL = "/kaggle/input/airlines-flights-data/airlines_flights_data.csv"
da1 = pd.read_csv(URL)
da1

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

1. If there is a unicod error import it as a `raw string`

In [ ]:
# Inepecting Available methods on the DS 
inspect(da1, methods=True)

In [25]:
da1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [26]:
da1.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

 ## Importing a problematic DS

 1. DS = `cars-datasets-2-25`

        - A regular import will lead to a unicode error

In [27]:
# URL = "/kaggle/input/cars-datasets-2025/Cars Datasets 2025.csv"
# pd.read_csv(URL)

1. The problematic dataset below had an encoding error. This can't be solved with a raw string input, instead we have to specify the output

In [28]:
# Fixing above error with encoding
URL = "/kaggle/input/cars-datasets-2025/Cars Datasets 2025.csv"
cd1  = pd.read_csv(URL, encoding="latin1")
cd1

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
...,...,...,...,...,...,...,...,...,...,...,...
1213,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590 Â– $48,000",Hybrid (Gas + Electric),5,239 Nm
1214,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm
1215,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169 Â– 196 hp,190 km/h,8.0 Â– 9.2 sec,"$25,210 Â– $29,135",Gas / Hybrid,5,190 Â– 210 Nm
1216,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140 Â– 198 hp,180 km/h,7.9 Â– 10.5 sec,"Â€ 33,000",Hybrid,5,190 Â– 205 Nm
1217,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219 Â– 302 hp,200 km/h,6.0 Â– 8.1 sec,"$29,000 Â– $43,000",Hybrid / Plug-in,5,221 Â– 400 Nm

In [29]:
# Removing the index for easier navigation 

cd11 = pd.read_csv(URL, encoding="latin1", header = None)
cd11

,0,1,2,3,4,5,6,7,8,9,10
0,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
1,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
2,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
3,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
4,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
...,...,...,...,...,...,...,...,...,...,...,...
1214,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590 Â– $48,000",Hybrid (Gas + Electric),5,239 Nm
1215,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm
1216,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169 Â– 196 hp,190 km/h,8.0 Â– 9.2 sec,"$25,210 Â– $29,135",Gas / Hybrid,5,190 Â– 210 Nm
1217,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140 Â– 198 hp,180 km/h,7.9 Â– 10.5 sec,"Â€ 33,000",Hybrid,5,190 Â– 205 Nm
1218,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219 Â– 302 hp,200 km/h,6.0 Â– 8.1 sec,"$29,000 Â– $43,000",Hybrid / Plug-in,5,221 Â– 400 Nm

In [30]:
# Extracting the main df for renaming 

# Examinig the type of the column names
rprint(cd11.columns)

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [31]:
# Extracting single columns 
cd11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1219 entries, 0 to 1218
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1219 non-null   object
 1   1       1219 non-null   object
 2   2       1219 non-null   object
 3   3       1216 non-null   object
 4   4       1219 non-null   object
 5   5       1219 non-null   object
 6   6       1213 non-null   object
 7   7       1219 non-null   object
 8   8       1219 non-null   object
 9   9       1219 non-null   object
 10  10      1218 non-null   object
dtypes: object(11)
memory usage: 104.9+ KB

In [32]:
# Crrect syntax 
cd11[[2, 5, 7]]

                                       2            5                  7
0                                Engines  Total Speed        Cars Prices
1                                     V8     340 km/h        $1,100,000
2                                    V12     250 km/h          $460,000
3                            1.2L Petrol     165 km/h    $12,000-$15,000
4                                     V8     250 km/h          $161,000
...                                  ...          ...                ...
1214                      2.5L Hybrid I4     180 km/h  $43,590 Â– $48,000
1215  2.4L Turbo I4 (i-FORCE MAX Hybrid)     180 km/h           $50,000
1216              2.0L Gas / 2.0L Hybrid     190 km/h  $25,210 Â– $29,135
1217                  1.8L / 2.0L Hybrid     180 km/h           Â€ 33,000
1218        2.5L Hybrid / Plug-in Hybrid     200 km/h  $29,000 Â– $43,000

[1219 rows x 3 columns]

In [33]:
# Make a separate DF with the extrated columns , whose headings ar integers
cd111 = cd11[[2, 5, 7]] 
cd111

                                       2            5                  7
0                                Engines  Total Speed        Cars Prices
1                                     V8     340 km/h        $1,100,000
2                                    V12     250 km/h          $460,000
3                            1.2L Petrol     165 km/h    $12,000-$15,000
4                                     V8     250 km/h          $161,000
...                                  ...          ...                ...
1214                      2.5L Hybrid I4     180 km/h  $43,590 Â– $48,000
1215  2.4L Turbo I4 (i-FORCE MAX Hybrid)     180 km/h           $50,000
1216              2.0L Gas / 2.0L Hybrid     190 km/h  $25,210 Â– $29,135
1217                  1.8L / 2.0L Hybrid     180 km/h           Â€ 33,000
1218        2.5L Hybrid / Plug-in Hybrid     200 km/h  $29,000 Â– $43,000

[1219 rows x 3 columns]

In [34]:
# Rename the headings to the 0 index 
cd111.columns = cd111.iloc[0]

In [35]:
cd111 # Checking if move occurred

0                                Engines  Total Speed        Cars Prices
0                                Engines  Total Speed        Cars Prices
1                                     V8     340 km/h        $1,100,000
2                                    V12     250 km/h          $460,000
3                            1.2L Petrol     165 km/h    $12,000-$15,000
4                                     V8     250 km/h          $161,000
...                                  ...          ...                ...
1214                      2.5L Hybrid I4     180 km/h  $43,590 Â– $48,000
1215  2.4L Turbo I4 (i-FORCE MAX Hybrid)     180 km/h           $50,000
1216              2.0L Gas / 2.0L Hybrid     190 km/h  $25,210 Â– $29,135
1217                  1.8L / 2.0L Hybrid     180 km/h           Â€ 33,000
1218        2.5L Hybrid / Plug-in Hybrid     200 km/h  $29,000 Â– $43,000

[1219 rows x 3 columns]

In [36]:
# Now remove the first row , this will cause the 0 index to change 
cd111 = cd111[1:]

In [37]:
# Altered df without 0 index - fixed index 
cd111

0                                Engines Total Speed        Cars Prices
1                                     V8    340 km/h        $1,100,000
2                                    V12    250 km/h          $460,000
3                            1.2L Petrol    165 km/h    $12,000-$15,000
4                                     V8    250 km/h          $161,000
5                                    V10    320 km/h          $253,290
...                                  ...         ...                ...
1214                      2.5L Hybrid I4    180 km/h  $43,590 Â– $48,000
1215  2.4L Turbo I4 (i-FORCE MAX Hybrid)    180 km/h           $50,000
1216              2.0L Gas / 2.0L Hybrid    190 km/h  $25,210 Â– $29,135
1217                  1.8L / 2.0L Hybrid    180 km/h           Â€ 33,000
1218        2.5L Hybrid / Plug-in Hybrid    200 km/h  $29,000 Â– $43,000

[1218 rows x 3 columns]

In [38]:
# Add arbitrary headings to test manual renaming 

cd111a = cd111.copy()

In [39]:
cd111a

0                                Engines Total Speed        Cars Prices
1                                     V8    340 km/h        $1,100,000
2                                    V12    250 km/h          $460,000
3                            1.2L Petrol    165 km/h    $12,000-$15,000
4                                     V8    250 km/h          $161,000
5                                    V10    320 km/h          $253,290
...                                  ...         ...                ...
1214                      2.5L Hybrid I4    180 km/h  $43,590 Â– $48,000
1215  2.4L Turbo I4 (i-FORCE MAX Hybrid)    180 km/h           $50,000
1216              2.0L Gas / 2.0L Hybrid    190 km/h  $25,210 Â– $29,135
1217                  1.8L / 2.0L Hybrid    180 km/h           Â€ 33,000
1218        2.5L Hybrid / Plug-in Hybrid    200 km/h  $29,000 Â– $43,000

[1218 rows x 3 columns]

In [40]:
# Rename the headers arbitratirly 
# eg: df.columns = ['new_name_1', 'new_name_2', 'new_name_3', ...]

cd111a.columns = ['fli', 'sto', 'des']

In [41]:
cd111a

                                     fli       sto                des
1                                     V8  340 km/h        $1,100,000
2                                    V12  250 km/h          $460,000
3                            1.2L Petrol  165 km/h    $12,000-$15,000
4                                     V8  250 km/h          $161,000
5                                    V10  320 km/h          $253,290
...                                  ...       ...                ...
1214                      2.5L Hybrid I4  180 km/h  $43,590 Â– $48,000
1215  2.4L Turbo I4 (i-FORCE MAX Hybrid)  180 km/h           $50,000
1216              2.0L Gas / 2.0L Hybrid  190 km/h  $25,210 Â– $29,135
1217                  1.8L / 2.0L Hybrid  180 km/h           Â€ 33,000
1218        2.5L Hybrid / Plug-in Hybrid  200 km/h  $29,000 Â– $43,000

[1218 rows x 3 columns]

1. Note this method is also easier, to replace the df column names, to something easier to call.
2. Then in the final DF , rename it back to what it was

Note how the headers are removed , and now they are indexes

In [42]:
# Info of the original Df
da1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [44]:
da1.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [45]:
# Note - Col names are all case-sensitive
da1['airline']

0         SpiceJet
1         SpiceJet
2          AirAsia
3          Vistara
4          Vistara
            ...
300148     Vistara
300149     Vistara
300150     Vistara
300151     Vistara
300152     Vistara
Name: airline, Length: 300153, dtype: object

In [46]:
# Viewing on specific element - Using loc 
da1.loc[4]

index                     4
airline             Vistara
flight               UK-963
source_city           Delhi
departure_time      Morning
stops                  zero
arrival_time        Morning
destination_city     Mumbai
class               Economy
duration               2.33
days_left                 1
price                  5955
Name: 4, dtype: object

In [50]:
# da1.loc['Delhi']

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

[ðŸ”™](#TOC)

# FilteringAndOrdering

In [3]:
# Import Airlines_dataset
URL = "/kaggle/input/airlines-flights-data/airlines_flights_data.csv"
da1 = pd.read_csv(URL)
da1

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

> Note for this section using the World Population Dataset from kaggle

In [4]:
# Import World Population Data Set
URL = "/kaggle/input/world-population-dataset/world_population.csv"
po1 = pd.read_csv(URL)
po1

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [5]:
po1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (kmÂ²)                   234 non-null    int64
 14  Density (per kmÂ²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [6]:
# Conditional Filtering 
# List all rows where the rank is < 10 

po1[po1['Rank'] <= 10]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24

In [7]:
# Extracting specific countries 

specific_countries = ['Mexico', 'Russia', 'Brazil']

# isin function
po1[po1['Country/Territory'].isin(specific_countries)]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
131,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81

In [8]:
# Contains is more generic
po1[po1['Country/Territory'].str.contains('United')]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00

In [9]:
# Change ColumnName - Country/Territory to Country 

# Make new Copy of df 
po2 = po1.copy()

# Rename the index in po2 

po2.rename(columns={'Country/Territory': 'Country'}, inplace=True)

In [10]:
#  Column has been renamed 
po2

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [11]:
# Now  change the index from integer to column name 

po21 = po2.set_index('Country')
po21

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [12]:
# Filter Function 

po21.filter(items = ['Continet', 'CCA3'])

                  CCA3
Country
Afghanistan        AFG
Albania            ALB
Algeria            DZA
American Samoa     ASM
Andorra            AND
...                ...
Wallis and Futuna  WLF
Western Sahara     ESH
Yemen              YEM
Zambia             ZMB
Zimbabwe           ZWE

[234 rows x 1 columns]

In [19]:
# Searching for contains 
po2[po2['Country'].str.contains('United')]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00

In [27]:
# This will search on the 1 axis Along rows 
po21.filter(['Country', 'CCA3'], axis = 1)

                  CCA3
Country
Afghanistan        AFG
Albania            ALB
Algeria            DZA
American Samoa     ASM
Andorra            AND
...                ...
Wallis and Futuna  WLF
Western Sahara     ESH
Yemen              YEM
Zambia             ZMB
Zimbabwe           ZWE

[234 rows x 1 columns]

In [28]:
# Searchin by row 
po21.filter(['Country', 'CCA3'], axis = 0)

Empty DataFrame
Columns: [Rank, CCA3, Capital, Continent, 2022 Population, 2020 Population, 2015 Population, 2010 Population, 2000 Population, 1990 Population, 1980 Population, 1970 Population, Area (kmÂ²), Density (per kmÂ²), Growth Rate, World Population Percentage]
Index: []

In [32]:
# Search on 0 axis for as specific country since the countries are not the index 
# This will bring up the match  by the index , which will results in the row
po21.filter(items = ['Zimbabwe'], axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.2

In [33]:
po21.filter(items = ['China'], axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
China,1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0,17.88

In [36]:
# using like - Syntax simpler thatn str.contains
po21.filter(like = 'United', axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
United Arab Emirates,97,ARE,Abu Dhabi,Asia,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600,112.9322,1.0081,0.12
United Kingdom,21,GBR,London,Europe,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,0.85
United States,3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
United States Virgin Islands,200,VIR,Charlotte Amalie,North America,99465,100442,102803,106142,108185,100685,96640,63446,347,286.6427,0.9937,0.00

In [39]:
# using loc and loc
po21.loc['United Kingdom']

Rank                                 21
CCA3                                GBR
Capital                          London
Continent                        Europe
2022 Population                67508936
2020 Population                67059474
2015 Population                65224364
2010 Population                62760039
2000 Population                58850043
1990 Population                57210442
1980 Population                56326328
1970 Population                55650166
Area (kmÂ²)                       242900
Density (per kmÂ²)              277.9289
Growth Rate                      1.0034
World Population Percentage        0.85
Name: United Kingdom, dtype: object

In [43]:
# Interger Location 
po2.iloc[1]

Rank                               138
CCA3                               ALB
Country                        Albania
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (kmÂ²)                       28748
Density (per kmÂ²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: 1, dtype: object

## Ordering

In [46]:
# Searching for rank less than 10 
po21[po21['Rank'] < 10]

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Bangladesh,8,BGD,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
Brazil,7,BRA,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
China,1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
India,2,IND,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
Indonesia,4,IDN,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
Nigeria,6,NGA,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
Pakistan,5,PAK,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
Russia,9,RUS,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
United States,3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24

In [50]:
# Sorting the Rank column by rank - will see rank in ascending order
po21[po21['Rank'] < 10].sort_values(by="Rank")

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
China,1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
India,2,IND,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
United States,3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
Indonesia,4,IDN,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
Pakistan,5,PAK,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
Nigeria,6,NGA,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
Brazil,7,BRA,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
Bangladesh,8,BGD,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
Russia,9,RUS,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81

1. Getting an output to sorting is highly dependent in supplying the right values

In [57]:
po21[po21["2022 Population"] > 100000].sort_values(by="2022 Population")

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Saint Vincent and the Grenadines,199,VCT,Kingstown,North America,103948,104632,106482,109308,113813,112487,107480,98459,389,267.2185,0.9963,0.00
Aruba,198,ABW,Oranjestad,North America,106445,106585,104257,100341,89101,65712,62267,59106,180,591.3611,0.9991,0.00
Tonga,197,TON,Nukuâ€˜alofa,Oceania,106858,105254,106122,107383,102603,98727,96708,86484,747,143.0495,1.0079,0.00
Seychelles,196,SYC,Victoria,Africa,107118,105530,99240,92409,80060,71057,65290,54379,452,236.9867,1.0061,0.00
Jersey,195,JEY,Saint Helier,Europe,110778,108319,100561,96151,86192,82874,75124,68347,116,954.9828,1.0106,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pakistan,5,PAK,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
Indonesia,4,IDN,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
United States,3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
India,2,IND,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
China,1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88