<div style="text-align: center">
<img src="https://raw.githubusercontent.com/xyizko/xo-mathz/refs/heads/main/gfx/x.jpeg">    
<img src="https://raw.githubusercontent.com/xyizko/xo-tagz/refs/heads/main/gfx/i.png">
</div>
<div style="background: black; color: #00ff00; padding: 2px; text-align: center;background-size: cover; padding: 10px; text-shadow: 00 0 20px #ec4899">
    <h1> Pandas Tutorial 2 </h1>
    
</div>

In [2]:
# Python BeautyPanty 

import logging
from rich import print as rprint  # For rprinting
from rich.pretty import pprint  # For pretty printing
from rich import inspect  # For inspect
from rich.console import Console  # For console.print
from rich.markdown import Markdown  # For markdow
from rich.panel import Panel  # For Panel()
from rich import box  # For Panel Boxes
from rich.prompt import Prompt  # For Prompting
from rich.style import Style  # For styles colors
from rich.text import Text  # For text Styles
from rich.logging import RichHandler
from rich.traceback import install
from rich.rule import Rule # Horizontal Line
import numpy as np
import random

console = Console()  # Standard code to access console
install(show_locals=True)

# Setting up rich logger with color
logging.basicConfig(
    level=logging.DEBUG,
    format="%(message)s",
    datefmt="[%X]",
    handlers=[RichHandler(rich_tracebacks=True, markup=True)],
)
log = logging.getLogger("rich")

# Horizontal Line 
def dividerz(title: str = "", color: str = ""):
    console.print(Rule(f"{title}", style=f"{color}"))

# boxa
def boxa(txt: str = "", title: str = "", subtitle: str = "", brd: str = ""):
    console.print(Panel.fit(f"{txt}",
                            title=f"{title}",
                            subtitle=f"{subtitle}", 
                            style="Italic", 
                            border_style=f"{brd}"))

# Pandas Specific 
import pandas as pd 
import numpy as np

# Matplotlib and setting dark mode
import matplotlib.pyplot as plt
# Setting Dark Mode
plt.style.use('dark_background')

# TOC
1. [What?](#What?)
2. [importing](#Importing)

[ðŸ”™](#TOC)

# What?

> More pandas and numpy practice. These libraries are the core of ML and I Pipelines.

[ðŸ”™](#TOC)

# Importing

In [3]:
# Iport Airlines_dataset
URL = "/kaggle/input/airlines-flights-data/airlines_flights_data.csv"
da1 = pd.read_csv(URL)

In [7]:
da1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [8]:
da1.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955